
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Ürün Güncelle</h1>

<div class="container mt-4">
    <form id="productForm" enctype="multipart/form-data">
        <input type="hidden" id="productId" name="ProductId" />
        <input type="hidden" id="userId" name="UserId" />

        <div class="mb-3">
            <label for="productName" class="form-label">Ürün Adı:</label>
            <input type="text" id="productNameUpdate" name="ProductName" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="productCode" class="form-label">Ürün Kodu:</label>
            <input type="text" id="productCodeUpdate" name="ProductCode" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="productPrice" class="form-label">Ürün Fiyatı:</label>
            <input type="number" id="productPriceUpdate" name="ProductPrice" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="currentImage" class="form-label">Mevcut Resim:</label>
            <img id="currentImage" src="" alt="Ürün Resmi"  max-width: 200px;" />
        </div>

        <div class="mb-3">
            <label for="fileImage" class="form-label">Yeni Ürün Resmi:</label>
            <input type="file" id="fileImageUpdate" name="FileImage" accept="image/*" class="form-control">
        </div>


        <button type="button" id="updateproduct" class="btn btn-primary">Güncelle</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="~/js/updateproduct.js"></script>

